<ul class="bannerBtn">
  <li class="corner">
  <div>NextIM for UChome</div>
  <span class="bannerShowFeature"><a href="#">功能演示</a></span>
  <span class="bannerDownload"><a href="#">立即下载</a></span>
  </li>
  <li class="corner">
  <div>NextIM for Discuz</div>
  <span class="bannerShowFeature"><a href="#">功能演示</a></span>
  <span class="bannerDownload"><a href="#">立即下载</a></span>
  </li>
</ul>

